{% extends 'base.html.twig' %}

{% block title %}Reviews!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if app.user%}
            <div class="row">
                <h1>Product index ({{ pagination.getTotalItemCount }})</h1>
                <div class="col-md-offset-10 col-md-2">
                    <form method="post">
                        <div class="row">
                            <select name="query" id="ratingFilter" class="dropdownButton">
                                <option value="">Chose One</option>
                                <option value="1">1 Star</option>
                                <option value="2">2 Star</option>
                                <option value="3">3 Star</option>
                                <option value="4">4 Star</option>
                                <option value="5">5 Star</option>
                            </select>
                            <input type="submit" value="Apply Filter" class="btn btn-primary filterButton" />
                        </div>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>name</th>
                    <th>image</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td><img src="{{ asset('/uploads/' ~ product.image) }}"></td>
                        <td>{{ product.rating }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
